.title {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.scrolling{
  height: 40rem;
  width: 100%;
  padding: 2rem;
  overflow:scroll;
}

.form-padding{
  padding: 2rem;
  height: auto;
}

/* //cambie el estilo manualmente, por que por algún motivo no me coge el estilo de bootstrap */
.btn-danger{
  color: black;
  background-color: red;
}

.btn-warning{
  background-color: yellow,
}